img{
    width: 100%;
}
small{
    padding: 5px;
}
.movie{
    width: 300px;
    margin: 8px;
}
.comment-text{
    background: white;
    padding: 8px;
    border-radius: 9px;
    border: 1px solid;
    margin-bottom: 5px;
}
.comment-author{
    text-align: center;
}

.movie h3{
    font-size: 20px;
    text-align: center;
}
.movie .genres{
    margin-top: 10px;
    height: auto;
    text-align: center;
}
.movie .card-header{
    height: 100px;
   
}
.btn{
    margin-top: 10px;
}